*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Mobile design stylesheet */
#navigationBar{
    display: flex;
    justify-content: space-between;
}
#imageLogo{
    height: 120px;
    background: transparent;
}
.fa-solid{
    font-size: 2.3rem;
    margin-right: 30px;
    align-self: center;
}
#desktopNavbarSection{
    display: none;
}
#heroSection{
    border: 2px solid red;
}