*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Mobile design stylesheet */
#navigationBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
}
#imageLogo{
    height: 120px;
}
#navBar{
    display: flex;
}
.fa-bars{
    font-size: 2.3rem;
    margin-right: 30px;
    align-self: center;
    cursor: pointer;
    outline: none;
}
#desktopNavbarSection{
    display: none;
}
#heroSection{
    background: #F0F0F5;
    padding-top: 50px;
}
#heroSectionImage{
    max-width: 100%;
    height: auto;
}
#heroSectionBtn > .buttons{
    text-decoration: none;
    font-weight: 700;
    box-shadow: -4px 5px 4px rgba(0, 0, 0, 0.25);
    padding-right:10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:auto;
}
.myDetails{
    padding-top: 100px;
}
.myDetails > *{
    margin-bottom: 25px;
    font-size: 1.4rem;
    text-align: center;
}
#heroSectionBtn {
    display: flex;
    flex-direction: column;
    height: 140px;
}
#experienceButton{
    background: #5E3AEE;
    color: #FFFFFF;
    width: 50%;
}
#myName{
    color: #5E3AEE;
    font-style: italic;
}
.card{
    border: none;
    width: 300px;
    max-width: 100%;
    height: 200px;
    box-shadow: 0px 0px 3px #808080;
    border-radius: 9px;
    margin: auto;
    margin-top: 30px;
    background: #010221;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card > h2{
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

#servicesSection > h2,p{
    text-align: center;
    margin-top: 30px;
}
#servicesSection > h2{
    color: #000000;
}
#servicesSection > p{
    margin-bottom: 30px;
}
.fa-laptop-code, .fa-database, .fa-terminal{
    color: #fff;
    font-size: 3.3rem;
    display: block;
    align-self: center;
}
#aboutMeSection{
    margin-top: 50px;
    text-align: center;
    background: #0F1221;
    color: #fff;
    padding-bottom: 60px;
    margin-bottom: 40px;
}
#aboutMeSection > h2{
    padding-top: 30px;
}
#aboutMeImage{
    border-radius: 50%;
    max-width: 100%;
    width: 250px;
    height: auto;
    margin-top: 50px;
}
.headingAndImageForm > h2{
    text-align: center;
}
#contactMeImage{
    max-width: 100%;
    width: 300px;
    margin: auto;
    height: auto;
}
label, input, textarea{
    display: block;
}
form{
    padding-left: 50px;
    padding-right: 50px;
    background: #5E3AEE;
    margin-left: 15px;
    border-radius: 8px;
    margin-right: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color:#fff;
}

input:not(input[type="submit"]){
    width: 100%;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 4px;
}
label[for="name"]{
    padding-top: 20px;
}
textarea{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    margin-top: 10px;
}
input[type="submit"]{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
}
/* Tablet Devices */
@media only screen and (min-width:769px) and (max-width:1024px){
    #heroSection{
        background-image: url(../images/banner.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #000000;
        font-size: 2rem;
        font-weight: bold;
    }
    #desktopNavbarSection{
        display: block;
    }
    .fa-bars{
        font-size: 1.2rem;
        display: none;
    }
    #desktopNavbarSection{
        list-style-type: none;
        display: flex;
        align-self: center;
        margin-right: 50px;
        gap: 30px;
        font-size: 1.3rem;
    }
    #desktopNavbarSection > li > a{
        text-decoration: none;
        color: #000000;
    }
    #heroSectionImage{
        display: none;
    }
    .myDetails{
        align-self: center;
        margin-top: 100px;
    }
    .myDetails > h1{
        font-size: 3rem;
        color: #fff;
    }
    .myDetails > p, h2{
        font-size: 2rem;
        color: #fff;
    }
    #experienceButton{
        width: 15%;
        border-radius: 6px;
        border: none;
    }
    .skillCardSection{
        display: flex;
        gap: 10px;
    }
    .card{
        cursor: pointer;
    }
    #servicesSection{
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .aboutMeSectionDesktop{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5rem;
        padding-bottom: 60px;
        padding-top: 60px;
        color: #fff;
    }
    footer h2{
        color: #000000;
        text-align: center;
        margin-bottom: 60px;
        text-decoration: underline;
    }
    #contactFormSection{
        margin-top: 80px;
        padding-bottom: 60px;
    }
    .desktopFormSection{
        display: flex;
        justify-content: space-around;
    }
    form{
        background: #0D0D0D;
    }
}
/* Laptop Devices */
@media only screen and (min-width:1025px) and (max-width:1200px){
    #heroSection{
        background-image: url(../images/banner.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100vh;
        color: #000000;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }
    #desktopNavbarSection{
        display: block;
    }
    .fa-bars{
        font-size: 1.2rem;
        display: none;
    }
    #desktopNavbarSection{
        list-style-type: none;
        display: flex;
        align-self: center;
        margin-right: 50px;
        gap: 30px;
        font-size: 1.3rem;
    }
    #desktopNavbarSection > li > a{
        text-decoration: none;
        color: #000000;
    }
    #heroSectionImage{
        display: none;
    }
    .myDetails{
        align-self: center;
        margin-top: 100px;
    }
    .myDetails > h1{
        font-size: 3rem;
        color: #fff;
    }
    .myDetails > p, h2{
        font-size: 2rem;
        color: #fff;
    }
    #experienceButton{
        width: 15%;
        border-radius: 6px;
        border: none;
    }
    .skillCardSection{
        display: flex;
    }
    .card{
        cursor: pointer;
    }
    #servicesSection{
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .aboutMeSectionDesktop{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5rem;
        padding-bottom: 60px;
        padding-top: 60px;
        color: #fff;
    }
    footer h2{
        color: #000000;
        text-align: center;
        margin-bottom: 60px;
        text-decoration: underline;
    }
    #contactFormSection{
        margin-top: 80px;
        padding-bottom: 60px;
    }
    .desktopFormSection{
        display: flex;
        justify-content: space-around;
    }
    form{
        background: #0D0D0D;
        
    }
}
@media only screen and (min-width:1201px) and (max-width:1440px){
    #heroSection{
        background-image: url(../images/banner.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color: #000000;
        font-size: 2rem;
        font-weight: bold;
        /* display: flex;
        flex-direction: column; */
        height: 100vh;
    }
    #desktopNavbarSection{
        display: block;
    }
    .fa-bars{
        font-size: 1.2rem;
        display: none;
    }
    #desktopNavbarSection{
        list-style-type: none;
        display: flex;
        align-self: center;
        margin-right: 50px;
        gap: 30px;
        font-size: 1.3rem;
    }
    #desktopNavbarSection > li > a{
        text-decoration: none;
        color: #000000;
    }
    #heroSectionImage{
        display: none;
    }
    .myDetails{
        margin-top: 70px;
    }
    .myDetails > h1{
        font-size: 3rem;
        color: #fff;
    }
    .myDetails > p, h2{
        font-size: 2rem;
        color: #fff;
    }
    #experienceButton{
        width: 15%;
        border-radius: 6px;
        border: none;
    }
    .skillCardSection{
        display: flex;
    }
    .card{
        cursor: pointer;
    }
    #servicesSection{
        padding-bottom: 70px;
        padding-top: 100px;
    }
    #servicesSection > p{
        font-size: 1.5rem;
    }
    .aboutMeSectionDesktop{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5rem;
        padding-bottom: 60px;
        padding-top: 60px;
        color: #fff;
    }
    footer h2{
        color: #000000;
        text-align: center;
        margin-bottom: 60px;
        text-decoration: underline;
    }
    #contactFormSection{
        margin-top: 80px;
        padding-bottom: 60px;
    }
    .desktopFormSection{
        display: flex;
        justify-content: space-around;
    }
    form{
        background: #0D0D0D;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.3rem;
    }
}
